NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://esports_tournament0:QRRUksRSzJxd584U99cxJ2IlpRtgxL28@dpg-db4crertqb8s73es07sg-a.oregon-postgres.render.com/esports_tournament0
SESSION_SECRET=84c4d087c42fb9bef95cb76efe401ca2
APP_URL=http://localhost:3000
NODE_ENV=development
TRUST_PROXY=true
PAYMENT_PROVIDER_URL=
PAYMENT_PROVIDER_SECRET=
EMAIL_PROVIDER_URL=
EMAIL_PROVIDER_SECRET=
