NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://esports_tournament0:QRRUksRSzJxd584U99cxJ2IlpRtgxL28@dpg-db4crertqb8s73es07sg-a.oregon-postgres.render.com/esports_tournament0
SESSION_SECRET=12c5251899994b925c383fae224586b4
APP_URL=http://localhost:3000
TRUST_PROXY=true
PAYMENT_PROVIDER_URL=
PAYMENT_PROVIDER_SECRET=
EMAIL_PROVIDER_URL=
EMAIL_PROVIDER_SECRET=
